/*
 : Bear Bone Technology :
*/
/* 
    Created on : Jul 11, 2014, 10:55:29 AM
    Author     : Tiago
*/

@font-face {
    font-family: 'PressStart2P';
    src: url('../font/../font/press-start-2p.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'PressStart2P', cursive;
}

html, body { 
    margin:0; 
    padding:0; 
    width:100%; 
    height:100%; 
}

#html5_game, #canvas {
    background-color: #555;
    display:block; 
    position: absolute;
    overflow: hidden;
}

#play {
    display: none;

    color: blue;
    background: url("../image/play.png");

    font-size: 10px;

    text-decoration: none;
    text-shadow: 2px 2px 5px black;

    position: absolute;
    left: 50%;
    top: 50%;

    width: 52px;
    height: 26px;
    padding: 23px 10px;
}