/*
 : Bear Bone Technology :
*/
/* 
    Created on : Jul 11, 2014, 10:55:29 AM
    Author     : Tiago
*/

html, body {
    margin:0;
    padding:0;
}

#canvas {
    width: 100%;
    height: 100%;
    display:block;
    position: absolute;
    overflow: hidden;
}